<div class="contenedor">
    <h1>Publicar noticia</h1>

    <div class="formulario">
        <div>
            <p>Titulo</p>
            <input type="text" placeholder="Titulo de la noticia" [(ngModel)]="nuevaNoticia.titulo">
        </div>
        <div>
            <p>Imagen (URL)</p>
            <input type="text" placeholder="Url de la noticia" [(ngModel)]="nuevaNoticia.imagen">
        </div>
        <div>
            <p>Texto</p>
            <input type="text" placeholder="Escriba aqui la noticia" [(ngModel)]="nuevaNoticia.texto">
        </div>
        <div>
            <p>Fecha</p>
            <input type="date" placeholder="Fecha de la publicacion de la noticia" [(ngModel)]="nuevaNoticia.fecha">
        </div>

        <p class="error">{{mensajeError}}</p>
        <button (click)="publicarNoticia()">Publicar</button>



    </div>

    <h2>Listado de noticias</h2>

    <div class="listado">
        @for (noticia of noticia; track noticia.titulo){
            <div class="noticia">
                <h3>{{noticia.titulo}}</h3>
                <img [src]="noticia.imagen" [alt]="noticia.titulo">
                <p>{{noticia.texto}}</p>
                <p>{{noticia.fecha}}</p>
            </div>
        }
    </div>
</div>